---
name: Test Local Action
on:
  workflow_dispatch:
    inputs:
      data_file:
        description: "Data file"
        required: false
        default: "dataset-tiny.json"
        type: choice
        options:
          - "dataset-tiny.json"
          - "dataset-small.json"
          - "dataset.json"
      evaluation_result_view:
        description: "Result view"
        required: false
        type: choice
        options:
          - "default"
          - "all-scores"
          - "raw-scores-only"
      compare_view:
        description: "Compare 2 AI Agents?"
        required: false
        default: "true"
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  run-action:
    runs-on: ubuntu-latest

    steps:
      # required because action is unpublished
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login using Federated Credentials
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Test local action
        uses: ./
        with:
          azure-ai-project-endpoint: "https://aoai-qyrftgva6obps.services.ai.azure.com/api/projects/proj-qyrftgva6obps"
          deployment-name: "gpt-4o-mini"
          data-path: ${{ github.workspace }}/samples/data/${{ github.event.inputs.data_file || 'dataset-tiny.json' }}
          agent-ids: ${{ github.event.inputs.compare_view == 'true' && 'asst_2U73baIGjgCE6E7ec52JjcSU,asst_RwX4GFh37NyogAmQpGvfb06z' || 'asst_2U73baIGjgCE6E7ec52JjcSU' }}
          evaluation-result-view: ${{ github.event.inputs.evaluation_result_view || 'default' }}
